<!DOCTYPE html>
<html lang="ko">
<head>
<title>Beauty Chu~♥</title>

<meta charset="UTF-8">

<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">



<style type="text/css">
	/* 스타일 적용 공간! */
</style>

</head>

<body>
	<header>
		<!-- header 건들지 말긔! -->
	</header>



	<div id="wrap-chu" class="wrap-chu">
	
	<div class="wrapper">
	<div id="content">

		</div> <!-- #content -->
		</div> <!-- .wrapper -->
		
		
	</div> <!-- .wrap-chu -->


	
	<footer>
		<!-- footer 건들지 말긔! -->
	</footer>
	
	

	<!-- header, footer 로드 스크립트!! -->
	<script>
		 $('header').load('common/header.html');
		 /*$('footer').load('common/footer.html'); */
		
		/*  
		window.setTimeout('window.location.reload()', 50000); 
		 */ 
	</script>
	
	
</body>
</html>