<!-- 공통 header -->
<script type="text/javascript" src="../js/common.js"></script>
<!-- <script type="text/javascript" src="../js/home.js"></script> -->
<link rel="stylesheet" type="text/css" href="../css/basic.css" />

<link rel="stylesheet" type="text/css"
	href="../css/jy/jy_header.css">


<!-- login form css -->
<link rel="stylesheet" type="text/css" href="../css/jy/jy_dialog.css" />
<script src="../js/resources/jy/modernizr.custom.js"></script>

<!-- Dialog JS -->
<script src="../js/resources/jy/classie.js"></script>
<script src="../js/resources/jy/dialogFx.js"></script>
<!-- Dialog JS -->


<div id="header">
	<div class="inner">
		<h1 class="logo">
			<a href="main.html">Beauty Chu~♥</a>
		</h1>

		<!-- #nav -->
		<nav id="nav">

			<!-- gnb -->
			<ul class="gnb">

				<li class="m1" delay-in="100"><a href="#">
					<span class="over"></span>
					<span class="label">SHOP INFO</span></a>
					<div class="sub-menu">
						<ul>
							<li class="m1"><a
								href="/svc/shopping_news/web/kr/shoppingNewsList.do"> Hot 서울</a></li>
							<li class="m2"><a
								href="/svc/realtime_ranking/web/kr/realtimeRanking.do">강남/서초</a></li>
							<li class="m3"><a
								href="/svc/shop_info/web/kr/shopInfoList.do">압구정/청담</a></li>
							<li class="m4"><a href="/web/luxury_contact.jsp">논현/신사</a></li>
							<!-- <li class="m5"><a href="/svc/notice/web/kr/noticeList.do">공지사항</a></li>-->
							<li class="m6"><a
								href="http://branch.galleria.co.kr/index.jsp" target="_blank"
								title="다른 지점보기">이대/신촌</a></li>
							<li class="m7"><a href="/web/jejuDutyMain.jsp"
								title="갤러리아 면세점">홍대</a></li>
						</ul>
					</div></li>
				<!-- end of li.m1 -->

				<li class="m2" delay-in="100"><a
					href="/svc/show_window/web/kr/showWindowList.do"><span
						class="over"></span><span class="label">Show Window</span></a>
					<div class="sub-menu">
						<ul>
							<!--<li class="m1"><a href="/svc/show_window/web/kr/showWindowList.do?search_param1=ALL,">All</a></li> -->
							<li class="m1"><a href="#">New Arrival</a></li>
							<li class="m2"><a
								href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0402">Today's
									Pick</a></li>
							<li class="m7"><a
								href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0426">Seasonal
									Essentials</a></li>
							<!-- <li class="m8"><a href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0433">Pop-up Store </a></li> -->
							<li class="m6"><a
								href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0435">All
									About Series</a></li>
							<!--li class="m3"><a href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0403,">Season's Best</a></li>
								<li class="m4"><a href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0404,">Buyer's Choice</a></li>
								<li class="m5"><a href="/svc/show_window/web/kr/showWindowList.do?search_param1=L0405,">Galleria Brand</a></li-->
						</ul>
					</div> <!-- Show Window Product -->
					<div class="good-list-container">
						<h2 class="title">Show Window Product</h2>
					</div> <!-- Show Window Product --></li>
				<!-- end of li.m2 -->

				<li class="m3" delay-in="100"><a
					href="/svc/fashion_style/web/kr/fashionStyleList.do"><span
						class="over"></span><span class="label">Man</span></a>
					<div class="sub-menu">
						<ul>
							<!-- <li class="m1"><a href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=ALL,">All</a></li> -->
							<li class="m2"><a
								href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=L0701,">Man
									Cut</a></li>
							<li class="m3"><a
								href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=L0702,">Man
									Perm</a></li>
							<li class="m4"><a
								href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=L0703,">Man
									Color</a></li>
							<li class="m5"><a
								href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=L0704,">Man
									Care</a></li>
							<li class="m6"><a
								href="/svc/fashion_style/web/kr/fashionStyleList.do?search_param1=L0705,">Man
									ETC</a></li>
						</ul>
					
					</div> <!-- Fashion &amp; Style Content -->
					<div class="good-list-container">
						<h2 class="title">Fashion &amp; Style Content</h2>
					</div> <!-- Fashion &amp; Style Content --></li>
					
				<!-- end of li.m3 -->

				<li class="m4" delay-in="300">
					<!-- <a href="/web/galleria_card.jsp"><span class="over"></span><span class="label">woman</span></a> -->
					<a href="yun-stylethumbnail.html"><span class="over"></span><span
						class="label">woman</span></a>
					<div class="sub-menu">
						<ul>
							<li class="m1"><a href="/web/galleria_card.jsp">Woman
									Cut</a></li>
							<li class="m2"><a href="/web/g_galleria_card.jsp">Woman
									Perm</a></li>
							<li class="m3_02"><a href="/web/galleria_point.jsp">Woman
									Color</a></li>
							<li class="m3"><a href="/web/voucher_01.jsp">Woman Care</a></li>
							<li class="m4"><a href="/web/giftcard_01.jsp">Woman ETC</a></li>
						</ul>
					</div>
				</li>
				<!-- end of li.m4 -->

				<li class="m5" delay-in="300">
					<!-- <a href="/web/customer_1.jsp"><span class="over"></span><span class="label">Celebrity</span></a> -->
					<a href="kh-celebritylist.html"><span class="over"></span><span
						class="label">Celebrity</span></a>
					<div class="sub-menu sub_depth6">
						<ul>
							<li class="m1"><a href="/web/customer_1.jsp">Celebrity
									Man</a></li>
							<li class="m2"><a href="/web/customer_2.jsp">Celebrity
									Woman</a></li>
							<!-- <li class="m3"><a href="/svc/conv_area/web/kr/convAreaList.do">편의시설</a></li>
								<li class="m4"><a href="/svc/faq_info/web/kr/faqInfoList.do">FAQ</a></li>
								<li class="m5"><a href="/customer/voc/list.jsp">고객의 소리</a></li>
								<li class="m7"><a href="/web/customer_8.jsp">소비자분쟁 해결기준</a></li> -->
						</ul>
					</div>
				</li>
				<!-- end of li.m5 -->

			</ul>
			<!-- gnb -->
		
		<ul>
		<li><form method="get" action="/search" id="search">
				<input name="q" id="search-bar" type="text" placeholder="Search..." />
			</form></li>
		</ul>
		
		
		</nav>
		<!-- #nav -->



		<!-- sub-menu -->
		<ul class="util-menu">
			<!-- 로그아웃 시 노출 -->

			<li class="login"><a data-dialog1="logindialog" title="로그인">login</a></li>
			<li class="join"><a data-dialog2="joindialog" title="회원가입">Join</a></li>
			<!-- <li class="search"><a href="#" title="검색하기">Search</a></li> -->

		</ul>
		<!--sub-menu-->

		<!-- under-1200일 때 나오는 버튼 -->
		<a href="#" class="btn-show-util-menu">기타 메뉴 보여주기</a>
	</div>
	<!-- end of div.inner -->

	<!-- panel-util-menu : 가로 1200이하일 경우 활성화됨-->
	<div class="panel-util-menu">
		<div class="inner">
			<ul class="sns-list pull-left">
				<li class="blog"><a href="http://blogdegalleria.tistory.com/"
					target="blank" title="blog 새창열림">blog</a></li>
				<li class="facebook"><a
					href="https://www.facebook.com/galleria.luxury" target="blank"
					title="facebook 새창열림">facebook</a></li>
				<li class="twitter"><a
					href="https://twitter.com/Galleria_Luxury" target="blank"
					title="twitter 새창열림">twitter</a></li>
				<li class="app"><a href="/web/app.jsp" title="앱 보기">App</a></li>
			</ul>
			<a href="#" class="btn-search pull-right" title="검색하기">search</a>
			<div class="clear"></div>

			<a href="/sso/login.jsp" class="btn-login" title="로그인">login</a> <a
				href="/member/join/agree.jsp" class="btn-join" title="회원가입">join</a>

			<!-- <a href="#" class="btn-login">login</a>
			<a href="#" class="btn-join">join</a>
			<a href="#" class="btn-logout">logout</a>
			<a href="#" class="btn-mypage">mypage</a> 20140312 -->
			<div class="diff-20"></div>
			<a href="/web/sitemap.jsp" class="btn-sitemap" title="사이트맵">sitemap</a>
			<div class="diff-10"></div>
			<div class="language-selector toggle-menu">
				<!-- 언어목록은 상단에 선택된 언어를 제외하고 리스팅하세요! -->
				<a href="#" class="btn-show-language" title="언어 더보기"> <span
					class="current kor">Kor</span>


				</a>
				<ul class="language-list toggle-list">
					<!--<li class="kor"><a href="/svc/main_page/web/kr/mainPage.do">Kor</a></li> -->

					<li class="eng"><a href="/svc/main_page/web/en/mainPage.do">Eng</a></li>
					<li class="jpn"><a href="/svc/main_page/web/jp/mainPage.do">Jpn</a></li>
					<li class="chn"><a href="/svc/main_page/web/cn/mainPage.do">Chn</a></li>

				</ul>
			</div>
		</div>
	</div>
	<!-- panel-util-menu -->

</div>
<!-- end of div#header -->



<!-- login form -->
<div id="logindialog" class="dialog">
	<div class="dialog__overlay"></div>
	<div class="dialog__content">
		<div class="login-header-area">
			<button class="action btn-login-close" data-dialog-close>
				<img src="../img/search/btn-close.png">
			</button>
		</div>
		<form class="form-signin" role="form">
			<div class='page-header'>
				<h2 class="form-signin-heading">로그인</h2>
			</div>
			<div class="login-line">
				<label for="inputEmail" class="sr-only">Email address</label> <input
					type="email" id="inputEmail" class="form-control-login"
					placeholder="beautychu@appchu.com" required autofocus>
			</div>
			<div class="login-line">
				<label for="inputPassword" class="sr-only">Password</label> <input
					type="password" id="inputPassword" class="form-control-login"
					placeholder="Password" required>
			</div>
			<div class="checkbox">
				<label class="checkbox-line"> <input type="checkbox"
					value="remember-me"> 아이디 저장
				</label>
			</div>

			<button class="btn-login" type="submit">로그인</button>
		</form>
	</div>
</div>
<!-- login form -->


<!-- join form -->
<div id="joindialog" class="dialog">
	<div class="dialog__overlay"></div>
	
	<!-- dialog__content -->
	<div class="dialog__content">
		<div class="join-header-area">
		
			<!-- page-header -->
			<div class='page-header'>
				<h2 class='form-signup-heading'>회원가입</h2>
			</div>
			
			<!-- page-header -->
			<button class="action btn-join-close" data-dialog-close>
				<img src="../img/search/btn-close.png">
			</button>
		</div>

		<!-- 회원가입 폼 -->
		<form name='frm' class='form-horizontal join' role='form'
			method='post'>

			<!-- 이메일 -->
			<div class='form-group'>
				<label class='control-label' for='inputEmail1'> <strong
					class='email'>이메일</strong>
				</label>
				<div class='email-total'>
					<div class='email-div'>
						<div class='input-email'>
							<input name='user_email' class='form-control-join'
								id='user_email' type='email' maxlength='100'
								placeholder='appchu@beautychu.com'>
							<!-- 이메일입력 -->
						</div>
						<!-- /.row -->
						<blockquote class='alarm text-primary'></blockquote>
						<!-- 이메일체크 메시지 알람 -->
					</div>

				</div>
			</div>
			<!-- 이메일 -->

			<!-- 이메일 중복 체크  -->
			<div id="email-check"
				style="font-size:12px; height: 25px; margin-top: -10px; margin-bottom: 10px; width: 265px; margin-left: 141px; text-align: left;">
			</div>
			<!-- 이메일 중복 체크  -->
			
			<!-- 닉네임 -->
			<div class='form-group'>
				<label class='control-label' for='inputNickname1'> <strong
					class='nick'>닉네임</strong>
				</label>
				<div class='input-nickname'>
					<input name='user_nickname' class='form-control-join'
						id='user_nickname' type='text' maxlength='50' placeholder=' '>
				</div>
			</div>
			<!-- 닉네임 -->

			<!-- 비밀번호 -->
			<div class='form-group'>
				<label class='control-label' for='inputPassword1'> <strong
					class='pw'>비밀번호</strong>
				</label>
				<div class='input-user-pw'>
					<input name='user_pw' class='form-control-join' id='user_pw'
						type='password' maxlength='20' placeholder='4~20자로 입력해주세요.'>
				</div>
			</div>
			<!-- 비밀번호 -->

			<!-- 비밀번호확인 -->
			<div class='form-group'>
				<label class='control-label' for='inputPassword2'> <strong
					class='pwr'>비밀번호 확인 </strong>
				</label>
				<div class='input-confirm-pw'>
					<input name='confirm_pw' class='form-control-join' id='confirm_pw'
						type='password' maxlength='20' placeholder='비밀번호를 재입력 해주세요.'>
				</div>
			</div>
			<!-- 비밀번호확인 -->


			<!-- 회원가입 완료 -->
			<div class='btn-area'>
				<button class='btn-join-fin' onclick='fn_form_chk();' type='button'>
					<span class='btn-join'>회원 가입 완료</span>
				</button>
				<div class="clear"></div>
				<div class='register-alert'>
					<p class="alert-message">
						아래의 이메일로 사업자 등록증을 보내주시면<br> 사업자 회원으로 등록해 드립니다.<br>
						admin@beautychu.com
					</p>
				</div>
			</div>
			<!-- 회원가입 완료 -->
			
		</form>
	</div>
</div>
<!-- join form -->


<script>

	/* 로그인 & 회원가입 dialog slide page */
	(function() {

		var logindlgtrigger = document.querySelector('[data-dialog1]'), logindialog = document
				.getElementById(logindlgtrigger.getAttribute('data-dialog1')), logindlg = new DialogFx(
				logindialog);

		var joindlgtrigger = document.querySelector('[data-dialog2]'), joindialog = document
				.getElementById(joindlgtrigger.getAttribute('data-dialog2')), joindlg = new DialogFx(
				joindialog);

		logindlgtrigger.addEventListener('click', logindlg.toggle.bind(logindlg));
		joindlgtrigger.addEventListener('click', joindlg.toggle.bind(joindlg));

		/* ajax node 연결 - 이메일 유효성 검사 */
		
	  	$("#user_email").keyup(function(data){
		
 		 var yunemail=$('#user_email').val();
		 var yunregex=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/; 
		 if(yunregex.test(yunemail)){
			 $.get("http://192.168.0.143:55555/id", {
					id : $('#user_email').val()
				}, function(data) {
					$('#email-check').html(data.result);
				})
		 }else{
			 $('#email-check').html("잘못된 이메일 형식입니다.");	 
		 }
		  

		 });   

	})();
</script>
