<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<li><a class="logoutBtn" href="logout" id="logout">LogOut</a></li>


<script type="text/javascript">
$('logout').click(function() {
	$.ajax({
		url : "logout"
	});
});


/* 로그아웃 자바스크립트  */
		
				$('#jy-btn-logout').click(function() {
			$.ajax({
				url : '../json/auth/logout.do'.
				sucess : function() {
					console.log('로그아웃 되었습니다.');
				  alert("로그아웃 되었습니다.");
				  location.href = 'jy_main.html';
				}
			})

		})
		//user-nickname --> class! not id!
		</script>
</body>
</html>